.composition {

    .word {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        gap: .5rem;
        padding: 2rem;
        font-size: 1.5rem;
        font-weight: bold;
        
        .letter {
            user-select: none;
            flex-basis: calc(100% / 10);

        }
    }

    .alphabet {
        display: flex;
        flex-wrap: wrap;
        /* gap: .5rem; */
        padding: 2rem 1rem;
        bottom: 0;
        position: fixed;
        left: 0;
        /* background-color: rgba(var(--secondary-color-rgb-components), 0.1);
        color: var(--secondary-color); */
        color: var(--primary-color);
        font-weight: 500;
        font-size: 1.25rem;
        text-align: center;
        
        .letter {
            all: unset;
            background-color: rgba(var(--secondary-color-rgb-components), 0.6);
            user-select: none;
            flex-basis: calc(100% / 10);
            
            &:active {
                background-color: rgba(var(--secondary-color-rgb-components), 0.1);
                transition: .2s;
            }
        }

    }
}