.start {
    text-transform: uppercase;
    
    .logo {
        margin: auto;
        max-width: 300px;
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        color: #393a59;
        flex-direction: column;
        font-weight: bold;
    }
}