.summary {
    position: relative;

    .hints {
        position: fixed;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
        font-weight: 700;

        .hint {
            margin: 0;
        }
    }
}