.discovery {

  .word {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    text-align: center;
    margin-top: 2rem;
    padding: 2rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;

    .cell {
      outline: 1px solid var(--secondary-color);
      flex-basis: calc(100% / 10);

      &:not(.guessed) {
        & > span {
          display: block;
          scale: 0;
        }
      }

      &.guessed {
        & > span {
          scale: 1;
        }
      }
    }
  }

  .alphabet {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    padding: 2rem 1rem;
    position: fixed;
    left: 0;
    bottom: 10%;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;

    &.disabled {
      pointer-events: none;

      & > .letter {
        opacity: .6;
      }
    }

    .letter {
      all: unset;
      background-color: rgba(var(--secondary-color-rgb-components), 0.6);
      user-select: none;
      flex-basis: calc(100% / 10);
      position: relative;

      &:active {
        background-color: rgba(var(--secondary-color-rgb-components), 0.4);
        transform: scale(.9);
        transition: 0.3s;
      }

      &.wasted {
        background-color: rgba(255, 0, 0, 0.096);
        
        &:before {
          position: absolute;
          content: "";
          left: 0;
          top: 50%;
          right: 0;
          border-top: 1px solid;
          border-color: var(--primary-color);
          transform: rotate(-35deg);
          transition: .3s;
        }
      }

      &.guessed {
        background-color: rgba(30, 221, 30, 0.24);        
      }
    }
  }
}
